.display{
    border: 1px solid red;
    width: 50%;
    height: 100px;
    display: inline-block;
    }

#div1{
    /*display: none;*/
    visibility: show;    /*we can keep it hide also*/
    height:500px;
}
